# Model Type Selection with PyCaret

This notebook explains how to use `PyCaret` to build multiple models and compare them to pick the best model for your data.

This notebook will build and evaluate a model to predict arrival delay for flights in and out of NYC in 2013.

### Packages

This tutorial uses:
* [pandas](https://pandas.pydata.org/docs/)
* [statsmodels](https://www.statsmodels.org/stable/index.html)
    * [statsmodels.api](https://www.statsmodels.org/stable/api.html#statsmodels-api)
* [pycaret](https://pycaret.readthedocs.io/en/latest/index.html)
    * [pycaret.regression](https://pycaret.readthedocs.io/en/latest/api/regression.html)
    * [pycaret.utils](https://pycaret.readthedocs.io/en/latest/index.html)

In [1]:
import statsmodels.api as sm
import pandas as pd
import numpy as np
import pycaret.regression as pycr
import pycaret.utils as pycu

## Reading the data

The data is from `rdatasets` imported using the Python package `statsmodels`.

In [2]:
df = sm.datasets.get_rdataset('flights', 'nycflights13').data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year            336776 non-null  int64
 1   month           336776 non-null  int64
 2   day             336776 non-null  int64
 3   dep_time        328521 non-null  float64
 4   sched_dep_time  336776 non-null  int64
 5   dep_delay       328521 non-null  float64
 6   arr_time        328063 non-null  float64
 7   sched_arr_time  336776 non-null  int64
 8   arr_delay       327346 non-null  float64
 9   carrier         336776 non-null  object
 10  flight          336776 non-null  int64
 11  tailnum         334264 non-null  object
 12  origin          336776 non-null  object
 13  dest            336776 non-null  object
 14  air_time        327346 non-null  float64
 15  distance        336776 non-null  int64
 16  hour            336776 non-null  int64
 17  minute          336776 non-null  int64
 18  time_hour       336776 non-null  object
dtypes: float64(5), int64(9), object(5)
memory usage: 48.8+ MB

## Feature Engineering

### Handle null values

In [3]:
df.isnull().sum()

year                 0
month                0
day                  0
dep_time          8255
sched_dep_time       0
dep_delay         8255
arr_time          8713
sched_arr_time       0
arr_delay         9430
carrier              0
flight               0
tailnum           2512
origin               0
dest                 0
air_time          9430
distance             0
hour                 0
minute               0
time_hour            0
dtype: int64

As this model will predict arrival delay, the `Null` values are caused by flights did were cancelled or diverted. These can be excluded from this analysis.

In [4]:
df.dropna(inplace=True)

### Convert the times from floats or ints to hour and minutes

In [5]:
df['arr_hour'] = df.arr_time.apply(lambda x: int(np.floor(x/100)))
df['arr_minute'] = df.arr_time.apply(lambda x: int(x - np.floor(x/100)*100))
df['sched_arr_hour'] = df.sched_arr_time.apply(lambda x: int(np.floor(x/100)))
df['sched_arr_minute'] = df.sched_arr_time.apply(lambda x: int(x - np.floor(x/100)*100))
df['sched_dep_hour'] = df.sched_dep_time.apply(lambda x: int(np.floor(x/100)))
df['sched_dep_minute'] = df.sched_dep_time.apply(lambda x: int(x - np.floor(x/100)*100))
df.rename(columns={'hour': 'dep_hour',
                   'minute': 'dep_minute'}, inplace=True)

As `PyCaret` can use large amounts of memory, we will randomly select **100,000** rows for this comparison, reserving the remaining rows as a test set.

In [6]:
dftrain = df.sample(n=100000, random_state=1066)
dftest = df.drop(dftrain.index)

## Fit the models

Setup the `PyCaret` environment.  **session_id** is equivalent to **random_state** in `scikit-learn` and allows the experiment to be repeated.

In [7]:
pycaret_experiment = pycr.setup(data=dftrain, target="arr_delay", session_id=1066,
                                ignore_features=['flight', 'tailnum', 'time_hour', 'year', 'dep_time', 'sched_dep_time', 'arr_time', 'sched_arr_time', 'dep_delay'])

Calling `compare_models` will train about 20 models and show their **MAE**, **MSE**, **RMSE**, **R^2**, **RMSLE**, and **MAPE**.  It will also highlight the best peforming model on each of those metrics.

In [8]:
best = pycr.compare_models(sort='RMSE')

Calling `create_model` with one of the types above, will create the model that can then be used like any other model.

In [9]:
catboost = pycr.create_model('catboost')

Evaluate this model on the hold_out sample

In [10]:
predict_result = pycr.predict_model(catboost)

This model is built using the default hyperparameters.  The model with tuned hyperparameters can be found using `tune_model`.

In [11]:
catboost = pycr.tune_model(catboost)

Evaluate this model on the hold_out sample

In [12]:
tuned_result = pycr.predict_model(catboost)

Finalize the model for deployment by fitting the model onto all of the data including the hold-out.

In [13]:
final_catboost = pycr.finalize_model(catboost)

Use this final model to predict on the observations not sampled above

In [14]:
predictions = pycr.predict_model(final_catboost, data=dftest)

Check the **R^2** for these predictions

In [15]:
pycu.check_metric(predictions.arr_delay, predictions.Label, 'R2')

0.9822